body{
    background-image: url(../imgs/background-blurred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#page-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
    grid-gap: 10px;
    /* max-width: 960px; */
    margin: 0;
}

#page-wrapper div{
    padding: 15px;
    background: rgb(28, 28, 28);
    border-radius: 20px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

#header h3 {
   margin: 0; 
}

#header h4 {
    margin: 0; 
 }

#left-bar {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

#left-bar div {
    margin-top: 15px;
    padding: 15px;
    border: 2px solid;
    border-radius: 15px;
}

#left-bar p {
    margin: 3px;
    margin-bottom: 7px;
}
#left-bar h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#grid-map {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0px;
}

#grid-map div {
    border: 1px solid;
    border-radius: 0px;
    margin: 0;
    padding: 0px;
    height: 83px;
    width: 85px;
    font-size: 74px;
}        

#right-bar {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 7;
}

#right-bar h4 {
    margin-top: 5px;
    margin-bottom: 8px;
}

#right-bar h5 {
    margin-top: 5px;
    margin-bottom: 8px;
}

#footer {
    grid-column-start: 3;
    grid-column-end: 7;
}

#calendar {
    margin: 10px;
    margin-top: 0px;
}
