<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logreg.css">
    <title>Register</title>
</head>
<body>
    <div>
        <h2>Sign Up</h2>
        <h4>Welcome!</h4>
        <p>Username:</p>
        <input type="text">
        <p>Password:</p>
        <input type="text">
        <br>
        <br>
        <button>Register</button>
        <p>Already have an account?</p>
        <a href="login.html">Log in here!</a>
    </div>
</body>
</html>